/*==== page scroll bar add ===*/
::-webkit-scrollbar {
	width: 6px;
	height: 4px;
}

/*==== Track ====*/
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $theme-color; 
	border-radius: 5px;
}

/*==== Handle ====*/
::-webkit-scrollbar-thumb {
	background: $theme-color;
	border-radius: 10px;
}

/*==== Basic Code Start ====*/
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

.text-left {
  text-align: left !important;
}

/*==== Basic Code end ====*/

/*==== Css Start ====*/
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80px;
      height: 80px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0  rgba(255, 255, 255,.9);
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
/*==== Css end ====*/

/*==== pagination default start =====*/
.swiper-dot {

  .swiper-pagination-bullet {
      width: 7px;
      height: 7px;
      transition: 0.6s;
      background: $theme-color;
      opacity: 1;
      border-radius: 7px;
      &:not(:last-child){
      margin-right: 15px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      
      transition: 0.6s;
      position: relative;

      &::before{
        position: absolute;
        width: 22px;
        height: 22px;
        line-height: 22px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $theme-color;
        content: "";
      }
  }
}


.array-button {
    @include flex;
    gap: 15px;

    .array-prev {
      width: 57px;
      height: 52px;
      line-height: 52px;
      text-align: center;
      background-color: $theme-color;
      color: $white;
      border-radius: 16px;
      @include transition;

      &:hover {
          background-color: $theme-color-2;
          color: $white;
      }
  }

  .array-next {
        width: 57px;
        height: 52px;
        line-height: 52px;
        text-align: center;
        background-color: var(--theme-color);
        color: var(--white);
        border-radius: 17px;
      @include transition;

      &:hover {
          background-color: $theme-color-2;
          color: $white;
      }
  }
}



.swiper-dot4 {
 
  .swiper-pagination-bullet {
      width: 7px;
      height: 7px;
      transition: 0.6s;
      background-color: rgba(129, 129, 129, 1);
      opacity: 1;
      border-radius: 100%;
      position: relative;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      transition: 0.6s;
      position: relative;
      width: 30px;
      border-radius: 30px;
  }

}


.swiper-dot3 {
 
  .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      transition: 0.6s;
      background-color: transparent;
      border: 1px solid $theme-color-2;
      border-radius: 14px;
      opacity: 1;
      position: relative;
      &:not(:last-child){
        margin-right: 15px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color-2;
      border: 1px solid $theme-color-2;
      transition: 0.6s;
      position: relative;
      width: 14px;
      height: 14px;
      border-radius: 14px;

      &::before {
        @include before;
        border: 1px solid $theme-color-2;
        width: 22px;
        height: 22px;
        border-radius: 22px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
  }
}
/*==== pagination default end =====*/

/*==== page pagination  =====*/
.pagination-wrap{
        @include flex;
        width: 100%;
        justify-content: center;
        padding-top: 60px;
        a{
           font-family: Quicksand;
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            color: $theme-color-2;
            width: 48px;
            height: 48px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            z-index: 1;
            margin: 0 4px;
            border: 1px solid $theme-color-2;
            border-radius: 8px; 
            @include transition;
            &:hover{
                background-color: $theme-color-2;
                color: $white;
            }
        }
        span{
            font-family: Quicksand;
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            color: $white;
            width: 48px;
            height: 48px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            z-index: 1;
            margin: 0 4px;
            background-color: $theme-color-2;
            border-radius: 8px;
        }
    }
/*==== page pagination end =====*/

/* ==== vedio wave start ====*/
    .wave-area {
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;
     .waves {
        position: absolute;
        opacity: 0;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        animation: waves 3s ease-in-out infinite;
        z-index: 1;
        top: -41px;
        left: -41px;
      }
     .wave-1 {
        animation-delay: 0s;
        background: $theme-color;
        }
      .wave-2 { 
        animation-delay: 1s;
        background: $theme-color; 
        }
      .wave-3 {
        animation-delay: 2s;
        background: $theme-color; 
      }
      .video-popup {
        position: relative;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: $theme-color;
        z-index: 5;
        i {
          font-size: 20px;
          color: $white;
          z-index: 6;
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 1px solid $theme-color;
          transform: translate(-50%, -50%);
          z-index: 4;
        }
     }
  }


  /* ==== progress bar start ====*/
  .progress-wrap {
      margin-top: 30px;

      .pro-items {
        
          &:not(:last-child){
             margin-bottom: 22px;
          }
          .pro-head {
            @include flex;
            justify-content: space-between;
            margin-bottom: 8px;

            .title {
              font-weight: 600;
              color: $text-color;
              font-size: 18px;
            }
                        
            .point {
              font-size: 16px;
              font-weight: 600;
              color: $text-color;
            }
          }
          .ber-box{
            padding: 4px 6px;
            border-radius: 45px;
            border: 1px dashed rgba(241, 95, 37, 0.55);
            .progress {
              background: #FDEBE4;
              justify-content: flex-start;
              align-items: center;
              position: relative;
              display: flex;
              height: 6px;
              width: 100%;
              border-radius: 45px;
              &.progress-2{
                background-color: #6754E98C;
              }
              .progress-value {
                animation: load 3s normal forwards;
                border-radius: 0;
                background: $theme-color-2;
                height: 6px;
                width: 0;
                border-radius: 45px;
                &.style-two{
                  animation: load2 2s normal forwards;
                  background: $theme-color;
                }
              }
            }
            &.style-2{
              border: 1px dashed rgba(103, 84, 233, 0.55);
            }
          }   
                    
          @keyframes load {
            0% { width: 0; }
            100% { width: 90%; }
          }
            @keyframes load2 {
              0% { width: 0; }
              100% { width: 70%; }
            }
        }
  }

/* ==== social icon start ====*/
  .social-icon{
    gap: 15px;
    margin-top: 40px;
    @include flex;            
    li{
      a {
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 16px;
        display: block;
        color: $theme-color;
        background-color: $white;
        border-radius: 4px;
        @include transition;
        &:hover {
          background-color: $theme-color;
          color: $white;
        }
      }
    }
  }


br {
  @include breakpoint(max-sm){
    display: none;
  }
}

 .underline {
    background-position: 0 95%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    display: inline;
                
    &:hover {
      color: $theme-color-2;
      background-size: 100% 2px;
      background-image: linear-gradient(180deg, $theme-color-2 0%, $theme-color-2 100%);
    }
  } 

/*==== background ====*/
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.sticky-style {
  position: sticky !important;
  top: 100px;
}

.box-shadow {
  box-shadow: $shadow;
}
.custom-container {
  max-width: 1560px;
  margin: 0 auto;
}
.custom-container-33 {
  max-width: 1319px;
  margin: 0 auto;
}

.custom-container-2 {
  max-width: 1568px;
  margin: 0 auto;
}

.slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.brand-slide-element {
	width: auto;
	display: inline-block;
}

.footer-info-container {
  max-width: 1436px;
}

.lg-center {
    @include breakpoint (max-lg){
      justify-content: center;
      text-align: center;
    }
}

.custom-container-3 {
  max-width: 1768px;
  margin: 0 auto;
}

.hero-container {
  max-width: 1510px;
  margin: 0 auto;
}

.mt-30{
  margin-top: 30px;
}

.title-width{
  min-width: 645px;
  @include breakpoint(max-xxl){
      min-width: initial;
  }
}
.text-color {
  color: $text-color !important;
}

.sec-bg-4 {
  background-color: #0E1445;
}

.hero-bg {
  background-color: #F7FAE2;
}

.border-none{
  border: none !important;
}

.tittle-bg {
  background-color: $theme-color-2 !important;
}
.tittle-bg-2 {
  background-color: rgba(255, 255, 255, 0.1) !important;
}


.custom-padding-top {
  padding-top: 27px !important;
}

.custom-padding-top2 {
  padding-top: 100px !important;

  @include breakpoint (max-xl){
    padding-top: 0 !important;
  }
}

.custom-padding-top3 {
  padding-top: 95px !important;

  @include breakpoint (max-xl){
    padding-top: 0 !important;
  }
}